# Environment for local development
DB_DRIVER=postgres
DB_SOURCE=postgresql://postgres:root@localhost:5432/go_portfolio_db?sslmode=disable
SERVER_ADDRESS=localhost:8080
TOKEN_SYMMETRIC_KEY=e011a20c87a922a8db29bcd28e6a536d
REDIS_ADDRESS=localhost:6379

# SMTP Mail Config
RESEND_API_KEY=your_resend_api_key
RESEND_FROM_EMAIL=contact@churma.codes

# Express API endpoint for cache invalidation
EXPRESS_API_URL=http://localhost:4000

# Storage Configuration (local or r2)
STORAGE_DRIVER=local
STORAGE_BASE_DIR=storage
STORAGE_PUBLIC_URL=/storage

# Cloudflare R2 Configuration (Used when STORAGE_DRIVER=r2)
R2_ACCOUNT_ID=your_cloudflare_account_id
R2_ACCESS_KEY_ID=your_r2_access_key_id
R2_SECRET_ACCESS_KEY=your_r2_secret_access_key
R2_BUCKET_NAME=my-portfolio-assets
R2_PUBLIC_URL=https://cdn.churma.codes
